.addr_details {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.booking_details {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

.addr_details td {
    border: 1px solid black;
}

.booking_details td {
    border: 1px solid black;
}

.addr_details th {
    font-size: 70%;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: inherit;
    border: 1px solid black;
}

.booking_details th {
    font-size: 70%;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: inherit;
    border: 1px solid black;
}

.good_msg {
    color: #22AA22;
    text-align: center;
}

.bad_msg {
    color: #CC1111;
    text-align: center;
}

.reviews_container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
}

.reviews_container table {
    padding-top:20px;
    padding-bottom:20px;
    background-color: #DDDDDD;
}

.reviews_container img {
    width:30px;
    height:auto;
}

.reviews_container div {
    display: inline-block;
}

#map {
        height: 300px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}
.mySlides {display: none}

.demo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
