{% extends "base.html" %}
{% block head %}
    <title>Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script  src = "{{ url_for('static',filename = 'multidatespicker.js')}}"></script>
    <script  src = "{{ url_for('static',filename = 'calendar.js')}}"></script>

{% endblock %}

{% block content %}
    <h1>{{acc.name}}</h1>
    <table class = "addr_details">
        <tr>
            <th style = "width:50%">Address</th>
            <th>Beds</th>
            <th>Bathrooms</th>
            <th>Car Spaces</th>
        </tr>
        <tr>
            <td>{{address.street_address}}</td>
            <td>{{acc.bed_count}}</td>
            <td>{{acc.bath_count}}</td>
            <td>{{acc.car_count}}</td>
        </tr>
    </table>

    <h2>About the place</h2>
    <p>{{acc.description}}</p>

    <table class = "booking_details">
        <tr>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        <tr>
            <td>${{acc.rate}} / night</td>
            <td><div id="avail_dates" align="center">
                Fix me
            </div></td>
            <script>
            var dates = {{ acc.get_dates()|tojson }};
            getDates(dates, false);
            </script>
        </tr>
    </table>

    <p class = "good_msg">This place is currently available!</p>
    <p> TODO: This will have more information, like choosing when the booking is and how many people are staying </p>
    <form name='book_acc' method='POST'>
        <table>
        <tr>
            <td>
                <p>From:</p>
                <p><input name = "book_start" placeholder = "Start Availability" id = "required" type = date></p>
            </td>
            <td>
                <p>To:</p>
                <p><input name = "book_end" placeholder = "End Availability" id = "required" type = date></p>
            </td>
        </tr>
        </table>
        <input type="submit" value="Book this room"/> 
    </form>

    <!-- <p class = "bad_msg"> Sorry, this accommodation has already been booked. </p> -->
    {% if owner %}
        <h2> About the owner </h2>
        <p> Name: {{owner[1]}} </p>
        <p> {{owner[5]}} </p>
    {% endif %}

    <p> Have any questions? Contact the owner at {{owner[4]}}.</p>


{% endblock %}
