{% extends "base.html" %}
{% block head %}
    <title>Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = "{{ url_for('static',filename = 'star_rating.js')}}"></script>
    <!-- Script for calendar-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
.header{
    grid-area: header;
    background-color: #fa9183;
    text-align: center;
    font-size: 35px;
    padding: 30px;
}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';
}

.left-grid, .right-grid {
    padding: 10px;
    height: 500px;
    width: 600px;
}

.left-grid {
    grid-area: left;
    background-color: #ebb4ad;
    text-align: left;
}

.right-grid {
    grid-area: right;
    background-color: #deb5b0;

}

.footer {
    grid-area: footer;
    background-color: #fcc2bb;
    padding: 10px;
}

</style>
{% endblock %}

{% block content %}

<!-- Header for Accommodation -->
<div class="grid-container">
    <div class="header">
        <h1 style="font-style: oblique; font-size: 60px;">{{acc.name}}</h1>
    </div>
<!-- Content Layout -->

    <div class="left-grid">
        <p>Description</p>
        <p>{{acc.description}}</p>
        <p>Beds: {{acc.bed_count}}</p>
        <p>Bathrooms: {{acc.bath_count}}</p>
        <p>Car Spaces: {{acc.car_count}}</p>
        <p>Address: {{acc.address.street_address}}</p>
    </div>

    <div class="right-grid">
        <p>Images</p><br><br>
        <p>Booking Details</p>
        <p>Price: {{acc.rate}} / night</p>


        <p>Availability:</p>
        <p class = "good_msg">This place is currently available!</p>
        <form name='book_acc' method='POST'>
            <input type="text"  id="dateRange, required" value="Booking Dates"class="calendar" align="center" onfocus="getDates({{acc.get_dates()}})">
            <p>Min Nights: {{acc.min_stay}}, Max Nights: {{acc.max_stay}}</p>
            <p><input name = "book_start" type = "hidden" id="book_start"></p>
            <p><input name = "book_end" type = hidden id="book_end"></p>
            <input type="submit" value="Book this room"/>
    </form>

    </div>
    <div class="footer">
            {% if owner %}
        <h2> About the owner </h2>
        <p> Name: {{owner[1]}} </p>
        <p> {{owner[5]}} </p>
    {% endif %}

    <p> Have any questions? Contact the owner at {{owner[4]}}.</p>

    <div class="reviews_container">
    <h3> Reviews </h3>
    <form name="post_review" method="POST" style="width:100%;text-align:center">
        <div style="width:80%; display:inline-block;">
            <textarea rows = "3" style="width:70%;" name = "review" placeholder = "Post your own review"></textarea>
            <div class = "starbox" style="width:150px; display:inline-block">
                <input id = "rating_input" name="rating_input" value="0" hidden>
                <img src="/static/star_empty.png" id="star1" onclick="star_click(1);" onmouseover="star_hover(1);" onmouseleave="star_unhover();">
                <img src="/static/star_empty.png" id="star2" onclick="star_click(2);" onmouseover="star_hover(2);" onmouseleave="star_unhover();">
                <img src="/static/star_empty.png" id="star3" onclick="star_click(3);" onmouseover="star_hover(3);" onmouseleave="star_unhover();">
                <img src="/static/star_empty.png" id="star4" onclick="star_click(4);" onmouseover="star_hover(4);" onmouseleave="star_unhover();">
                <img src="/static/star_empty.png" id="star5" onclick="star_click(5);" onmouseover="star_hover(5);" onmouseleave="star_unhover();">
                <br>
                <br>
                <input type="submit" id="review_submit" name="review_submit" value = "Post" disabled>
            </div>
        </div>
    </form>
    </div>
</div>
<script>
function getDates(dates) {
    var availDateSize = {{acc.get_dates()|length}};
    var minStay = {{acc.min_stay}};

    $('.calendar').daterangepicker({
        minDate: new Date(),
        locale: {
            format: "DD/MM/YYYY",
            cancelLabel: 'Clear'
        },
        maxSpan: {
            days: {{acc.max_stay}}
        },
        isInvalidDate: function(date) {
            var startDate = $('.calendar').data('daterangepicker').startDate;
            var minDate = moment(startDate).add(minStay, 'days');
            // Date range between min and max
            if (date < minDate) {
                return true;
            } else {
                for (var i = 0; i < availDateSize; i++) {
                    var startRange = new Date(dates[i][0].replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
                    var endRange = new Date(dates[i][1].replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
                    if (startRange <= date && date <= endRange) {
                        return false;
                    }
                }
                return true;
            }
        }
    });

    $('.calendar').on('cancel.daterangepicker', function(ev, picker) {
        $('.calendar').val('');
    });

    // Set book start and book end dates
    $('.calendar').on('apply.daterangepicker', function(ev, picker) {
        var book_start = $('.calendar').data('daterangepicker').startDate.format('DD/MM/YYYY');
        var book_end = $('.calendar').data('daterangepicker').endDate.format('DD/MM/YYYY');
        document.getElementById('book_start').value = book_start;
        document.getElementById('book_end').value = book_end;
    });
}
</script>
<!--
</div>
    <table class = "addr_details">
        <tr>
            <th style = "width:50%">Address</th>
            <th>Beds</th>
            <th>Bathrooms</th>
            <th>Car Spaces</th>
        </tr>
        <tr>
            <td>{{address.street_address}}</td>
            <td>{{acc.bed_count}}</td>
            <td>{{acc.bath_count}}</td>
            <td>{{acc.car_count}}</td>
        </tr>
    </table>

    <h2>About the place</h2>
    <p>{{acc.description}}</p>

    <table class = "booking_details">
        <tr>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        <tr>
            <td>${{acc.rate}} / night</td>
            <td><div id="avail_dates" align="center">
                Fix me
            </div></td>
            <script>
            var dates = {{ acc.get_dates()|tojson }};
            getDates(dates, false);
            </script>
        </tr>
    </table>


    <p> TODO: This will have more information, like choosing when the booking is and how many people are staying </p>

-->

    <!-- <p class = "bad_msg"> Sorry, this accommodation has already been booked. </p> -->

    <!--

-->
{% endblock %}
