{% extends "base.html" %}
{% block head %}
    <title>Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
{% endblock %}

{% block content %}
    <h1>{{acc.getName()}}</h1>
    <table class = "addr_details">
        <tr>
            <th style = "width:50%">Address</th>
            <th>Beds</th>
            <th>Bathrooms</th>
        </tr>
        <tr>
            <td>{{acc.getAddr()}}</td>
            <td>{{acc.getBeds()}}</td>
            <td>{{acc.getBathrooms()}}</td>
        </tr>
    </table>

    <h2>About the place</h2>
    <p>{{acc.getDesc()}}</p>

    <table class = "booking_details">
        <tr>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        <tr>
            <td>${{acc.getPrice()}}/night</td>
            <td>{{acc.getAvailStart()}} - {{acc.getAvailEnd()}}</td>
        </tr>
    </table>

    {% if acc.isAvailable() %}
        <p class = "good_msg">This place is currently available!</p>
        <p> TODO: This will have more information, like choosing when the booking is and how many people are staying </p>
        <form name='book_acc' method='POST'>
            <input type="submit" value="Book this room"/> 
        </form>
    {% else %}
        <p class = "bad_msg"> Sorry, this accommodation has already been booked. </p>
    {% endif %}


    {% if acc.getOwnerDesc() %}
        <h2> About the owner </h2>
        <p> {{acc.getOwnerDesc()}} </p>
    {% endif %}

    <p> Have any questions? Contact the owner at {{acc.getOwnerDetails()}} </p>

{% endblock %}
