{% extends "base.html" %}
{% block head %}
	<title>Untitled Travels</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- Script for dateRangePicker -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	<style>
	#map {
        height: 400px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
      }
    #searchkeyword {
    	height: 30px;
    	width: 200px;
    }
</style>
{% endblock %}

{% block content %}
	<script>
	function myFunction() {
	  var x = document.getElementById("advancesearch");
	  if (x.style.display == "none") {
		x.style.display = "block";
	  } else {
		x.style.display = "none";
	  }
	  console.log(document.getElementById("map"));
	  
	}
	</script>
	
    <p> <img src = "/static/nsw1.png"  style = "width: 250px;height: 250px"> </p>
	<form id = 'searchForm' name = 'search' method = 'POST' >
		<input type = "text" placeholder = "Search Address.." id = "searchgeocode" name = "search">
		<input type = "hidden" name = "geocodedvalue" id = "geocodedvalue" readonly>
		<button type = "submit" style="height: 30px;width: 75px">Submit</button>
		<br><br>
		Distance Radius: <output name="radiusrange" id="radiusrange">100</output> m
		<br>
		<input type = "range" name= "distance" id = "radiuschange" min = "100" max = "5000" value = "100" oninput = "changeCircle(this.value)">
		<div id="map"></div>
		<br><br><br>
		<p><button type = "button" onclick="myFunction()" style="height: 30px;width: 150px">Advanced Search</button></p>
		
		<div id = advancesearch style = "display:none;">
			<input type = "text" id = "keyword" name = "keyword" placeholder = "Search keyword..">
			<br>
			<br>
			<input type="text" id="dates" name = "dates" placeholder = "Date Range..">
			Beds: <input type= "number" name = "beds" max = "5" min = "1" placeholder>
			Bathrooms: <input type= "number" name = "bathrooms" max  = "5" min = "1" >
			Parking Spaces: <input type= "number" name = "parking" max  = "3" min = "0" >
		</div>
	</form>
	
    <script>
		var map;
		var markerlist = [];
		var circlelist = [];
		var geocoder;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			  center: {lat: -33.91538902145825 , lng: 151.11207767686824},
			  zoom: 13
			});
			geocoder = new google.maps.Geocoder;
			google.maps.event.addListener(map, 'click', function( event ){
				document.getElementById("geocodedvalue").value = event.latLng.lat()+", "+event.latLng.lng();
				
				for (i = 0;i<markerlist.length;i++){
					markerlist[i].setMap(null);
					circlelist[i].setMap(null);
				}
				var marker = new google.maps.Marker({position: event.latLng, map: map});
				markerlist.push(marker)
				var circle = new google.maps.Circle({map: map, radius: parseInt(document.getElementById("radiuschange").value), fillColor: '#AA0000'});
				circle.bindTo('center', marker, 'position');
				circlelist.push(circle)
				geocoder.geocode({'location': event.latLng}, function(results, status) {
						if (status === 'OK') {
							if (results[0]) {
								document.getElementById("searchgeocode").value = results[0].formatted_address;
							} 
							else {
								alert('No results found');
							}
						} 
						else {
							alert('Geocoder failed due to: ' + status);
						}
					});
			});
			
		}
		function changeCircle(newval){
			document.getElementById("radiusrange").value = newval;
			for (i = 0;i<circlelist.length;i++){
				if(circlelist[i]==null)
					continue;
				circlelist[i].setRadius(parseInt(newval));
			}
		}
		var typingTimer;                //timer identifier
		var doneTypingInterval = 5000;  //time in ms (5 seconds)
		function getgeocode(){
			
			geocoder.geocode({
				'address': document.getElementById("searchgeocode").value,
				'componentRestrictions': {
					'country': 'AU'
				}
			}, function(results, status) {
						if (status === 'OK') {
							if (results[0] && results[0].geometry &&
								results[0].geometry.bounds) {
								for (i = 0;i<markerlist.length;i++){
									markerlist[i].setMap(null);
									circlelist[i].setMap(null);
								}
								document.getElementById("geocodedvalue").value = results[0].geometry.location.lat()+", "+results[0].geometry.location.lng();
								var marker = new google.maps.Marker({position: results[0].geometry.location, map: map});
								map.setCenter(results[0].geometry.location)
								markerlist.push(marker)
								console.log(document.getElementById('geocodedvalue').value)
								console.log(results[0].geometry.location)
								var radius = google.maps.geometry.spherical.computeDistanceBetween(results[0].geometry.location,results[0].geometry.bounds.getSouthWest());
								document.getElementById("radiusrange").value = radius
								var circle = new google.maps.Circle({map: map, radius: radius, fillColor: '#AA0000'});
								circle.bindTo('center', marker, 'position');
								circlelist.push(circle)
								console.log('Result: ' + results);
							} else {
								console.log('No results found');
								//alert('No results found');
							}
						} else {
							console.log('Geocoder failed due to: ' + status);
							//alert('Geocoder failed due to: ' + status);
						}
					});
		}
		document.getElementById('searchgeocode').addEventListener('keyup', () => {
			clearTimeout(typingTimer);
			if (document.getElementById('searchgeocode').value) {
			typingTimer = setTimeout(getgeocode, doneTypingInterval);
    }
});
	</script>
<script>
	$(function() {
		$('#dates').daterangepicker({
			autoUpdateInput: false,
			minDate: new Date(),
			endDate: moment().add(60, 'days'),
        	locale: {
            	cancelLabel: 'Clear',
            	format: 'DD/MM/YYYY'
        	}
		});
	});
	$('#dates').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  	});
	$('#dates').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
    $('#dates').on('apply.daterangepicker', function(ev, picker) {
    	$(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
    });
</script>
	<!-- Actual link: -->	
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwnoTrb4bDrnE2qSu7q1HiS0pWCsCJS7g&libraries=geometry&callback=initMap" async defer></script>
	<!-- Use a wrong link when map isn't needed: -->		
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=NotARealKey&callback=initMap"></script> -->

{% endblock %}
