{% extends "base.html" %}
{% block head %}
	<title>Untitled Travels</title>

	<!-- Script for dateRangePicker -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('.collapsible');
			var instances = M.Collapsible.init(elems, options);
			updateRadius(3);
		});
	</script>

<style>
	#map {
		height: 50vw;
		width:  50vw;
		margin-left: auto;
		margin-right: auto;
      }
    #searchkeyword {
    	height: 30px;
    	width: 200px;
    }
</style>
{% endblock %}

{% block content %}
<form method='POST'>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<!-- Search bar -->
				<div class="input-field col s10">
				<input type="text" id="searchgeocode" name="search" onkeydown="return (event.keyCode!=13);">
				<label for="searchgeocode" id="searchlabel">Search by Location</label>
				</div><div class="col s2">
					<br>
				<button disabled id="searchBtn" type="submit" class="btn">Search</button>
				</div>
			</div>
		</div>
		<!-- Google Maps -->
		<input type = "hidden" name = "geocodedvalue" id = "geocodedvalue" readonly>
		<input type="text" name="radiusval" id="radiusval" value = "2000" hidden>
		<!-- Radius for circle in Google Maps-->
		<div class="col s12">
			<p class="range-field">
				<input type="range" id="radiuschange" min="0" max="9" start="3" value="3" onchange="updateRadius(this.value)" oninput="changeCircle(this.value)"/>
			</p>
		</div>
		<div class="center-align">
			Distance Radius: <output name="radiusrange" id="radiusrange">2000</output> m
		</div>
		<ul class="collapsible">
			<li>
				<!-- Advanced Search -->
				<div class="collapsible-header"><i class="material-icons">add</i>Advanced Search</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="input-field">
							<input type="text" id="keywordinput" name="keyword" oninput="changeSearch(this.value)">
							<label for="keywordinput">Keyword search</label>
						</div>
					</div>
					<!-- Values to change in advanced search-->
					<div class="row" id="advancesearch">
						<input type="text" id="dates" name="dates" placeholder="Date Range..">
						<div>
							<div class="col s8">
								<p>Beds:</p>
							</div>
							<div class="col s4">
								<input type="number" name="beds" max="99" min="1" value="1" step="1">
							</div>
							<div class="col s8">
								<p>Bathrooms:</p>
							</div>
							<div class="col s4">
								<input type="number" name="bathrooms" max="99" min="1" value="1" step="1">
							</div>
							<div class="col s8">
								<p>Parking Spaces:</p>
							</div>
							<div class="col s4">
								<input type="number" name="parking" max="99" min="1" value="1" step="1">
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
			<br>
			<div class="col s12">
				<div id="map" class="center-align"></div>
			</div>
	</div>
</form>

	
    <script>

		
		
		

		function changeSearch(newval) {
			if (newval == '') {
				document.getElementById("searchBtn").disabled = true;
			} else {
				// if (document.getElementById("radiusval").value != null) {
					document.getElementById("searchBtn").disabled = false;
				// } else {
				// 	document.getElementById("searchBtn").disabled = true;
				// }
			}
			M.updateTextFields(); // Raise the label in the search box

		}

		
		var typingTimer;                //timer identifier
		var doneTypingInterval = 1000;  //time in ms
		
		document.getElementById('searchgeocode').addEventListener('keyup', () => {
			clearTimeout(typingTimer);
			if (document.getElementById('searchgeocode').value) {
			typingTimer = setTimeout(getgeocode, doneTypingInterval);
    }
});
	</script>
<script>
	$(function() {
		$('#dates').daterangepicker({
			autoUpdateInput: false,
			minDate: new Date(),
			endDate: moment().add(60, 'days'),
        	locale: {
            	cancelLabel: 'Clear',
            	format: 'DD/MM/YYYY'
        	}
		});
	});
	$('#dates').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  	});
	$('#dates').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
    $('#dates').on('apply.daterangepicker', function(ev, picker) {
    	$(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
	});
	$(document).ready(function () {
		$('.collapsible').collapsible();
	});
</script>
	<!-- Actual link: -->	
<script src = "static/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwnoTrb4bDrnE2qSu7q1HiS0pWCsCJS7g&libraries=geometry&callback=initMap" async defer></script>
	<!-- Use a wrong link when map isn't needed: -->		
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=NotARealKey&callback=initMap"></script> -->

{% endblock %}
