{% extends "base.html" %}
{% block head %}

	<title>Post Accommodation</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- For new date range picker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script type =text/javascript src = "{{ url_for('static',filename = 'new_ad.js')}}"></script>
	<style>#map {
        height: 400px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
	<style>
		table {
			width: 100%;
			font: 17px Calibri;
		}

		table,
		th,
		td {
			border: solid 1px #DDD;
			border-collapse: collapse;
			padding: 2px 3px;
			text-align: center;
		}
	</style>


{% endblock %}

{% block content %}

<body onload="createTable()">
<link rel="stylesheet" href = "{{url_for('static',filename = 'formstep.css')}}">

<h2> Please enter the details of your accommodation: </h2>
<form name='post_ad' id = "regForm" method='POST' formaction='submit()' enctype="multipart/form-data">
	<!-- <div class = "tab"> -->
	<ul class="collapsible">
		<li class="active">
			<div class="collapsible-header"><i class="material-icons">information</i>Place Details</div>
			<div class="collapsible-body">
				<div class="row">
					<div class="input-field col s12">
						<input  name = "acc_name"  class = "materialize-text" type="text" required>
						<label>Place Name</label>
					</div>
					<div class="input-field col s12 m4">
						<input  name = "acc_nbed"  class = "materialize-text" type = number required>
						<label>Number of Beds</label>
					</div>
					<div class="input-field col s12 m4">
						<input  name = "acc_nbath"  class = "materialize-text" type = number required>
						<label>Number of Bathrooms</label>
					</div>
					<div class="input-field col s12 m4">
						<input  name = "acc_ncar"  class = "materialize-text" type = number required>
						<label>Parking Spaces</label>
					</div>
					<div class="input-field col s12">
						<textarea  name = "acc_details" type = text class="materialize-textarea"></textarea>
						<label>Description</label>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header"><i class="material-icons">image</i>Images</div>
			<div class="collapsible-body">
				<ul id = "imagelist">
				<li><input name = "acc_image-0" id="file-input" type="file" accept="image/*">
				</li>
				</ul>
				<input type="button" id="addImageButton" value="Add Image" onclick = "addImage()"/>
				<div id="preview"></div>
			</div>
		</li>
		<li>
			<div class="collapsible-header"><i class="material-icons">location_on</i>Location</div>
			<div class="collapsible-body">
				<div class="input-field col s12">
					<input type="text" name="acc_addr" class="required" id="hiddenaddress">
					<label>Location</label>
				</div>
				<input name="acc_location" id="hiddenlocation" class="required" type="hidden">
				<div id="map"></div>
			</div>
		</li>
		<li>
			<div class="collapsible-header"><i class="material-icons">date_range</i>Availability</div>
			<div class="collapsible-body">
				<div class="row">
					<div class="input-field col s12 m4">
						<input name = "price" class = "required" type = number step = 0.01>
						<label>Rate per night</label>
					</div>
					<input id="dateCountOut" name=dateCount type=hidden value=0 method='POST'>
					<div class="input-field col s12 m4">
						<input name = "min_stay"  type = number>
						<label>Minimum stay length</label>
					</div>
					<div class="input-field col s12 m4">
						<input name = "max_stay"  type = number>
						<label>Maximum stay length</label>
					</div>
					<div class="input-field col s12">
						<textarea class="materialize-textarea" name = "details"></textarea>
						<label>Additional Details (Noise policy, etc.)</label>
					</div>
					<div id="t_cont" class="col s12">
						<!-- The table will be put here by the js below -->
						Available Date Ranges:
					</div>
					<div class="col s12">
						<input type="button" id="addRangeButton" value="Add Range" onclick="addRange()" />
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="right-align">
		<button class="btn waves-effect waves-light light-blue" type="submit" name="action" id="sub_btn">Submit
			<i class="material-icons right">send</i>
		</button>
	</div>
</form>

	<!-------------------------- Scripts \/ /\ HTML --------------------------------->
	
	<script type="text/javascript">
		var map;
		var markerlist = [];
		var geocoder;
		function initMap() {
			map = new google.maps.Map(
				document.getElementById('map'), {
					center: {lat: -33.91538902145825 , lng: 151.11207767686824},
					zoom: 13
				}
			);
			geocoder = new google.maps.Geocoder;
			google.maps.event.addListener(
				map, 'click', function( event ) {
					document.getElementById("hiddenlocation").value = event.latLng.lat() + ", " + event.latLng.lng();
					for (i = 0;i<markerlist.length;i++){
						markerlist[i].setMap(null);
					}
					markerlist.length = 0;
					var marker = new google.maps.Marker({position: event.latLng, map: map});
					markerlist.push(marker);
					geocoder.geocode({'location': event.latLng}, function(results, status) {
						if (status === 'OK') {
							if (results[0]) {
								document.getElementById("hiddenaddress").value = results[0].formatted_address;
							} 
							else {
								alert('No results found');
							}
						} 
						else {
							alert('Geocoder failed due to: ' + status);
						}
					});
				}
			);
		}


			//function submit() {
		 	//window.prompt("prompt");
		 	//console.log("Submitting");
			//}
	var imagelen = 0;
	function addImage() {
		var imagetemp = document.getElementsByName('acc_image-'+imagelen)
		
		for(i=0;i<imagetemp.length;i++){
			if(imagetemp[i].tagName == 'INPUT'){
				if(imagetemp[i].value == ""){
					return false
				}
			}
		}
		imagelen+=1;
		var node = document.createElement("LI");
		node.setAttribute('name', 'acc_image-'+imagelen);
		var input = document.createElement("input");
		input.setAttribute('type', 'file');
		input.setAttribute('name', 'acc_image-'+imagelen);
		input.setAttribute('accept','image/*');
		input.addEventListener("change", previewImage);
		var removeButton = document.createElement('input');
		removeButton.setAttribute('type', 'button');
		removeButton.setAttribute('value', 'Remove');
		removeButton.setAttribute('onclick', 'removeImage(this)');
		removeButton.setAttribute('name', 'acc_image-'+imagelen);
		node.appendChild(input)
		node.appendChild(removeButton)
		var list = document.getElementById('imagelist')
		list.appendChild(node)
	}
	function removeImage(buttonObj){
		var imagenode = document.getElementsByName(buttonObj.name)
		while(imagenode.length > 0){
			imagenode[0].remove()
		}
		imagelen--
	}
	function previewImage() { 
		var preview = document.querySelector('#preview');
		images = document.getElementsByName('acc_image-'+imagelen)
		for(i=0;i<images.length;i++){
			if(images[i].firstChild != null){
				if(images[i].firstChild.tagName == 'IMG'){
					images[i].remove()
				}
			}
				
		}
		if (this.files) {
			[].forEach.call(this.files, readAndPreview);
		}

		function readAndPreview(file) {

			var reader = new FileReader();

			reader.addEventListener("load", function() {
			  var node = document.createElement("LI")
			  node.setAttribute('name', 'acc_image-'+imagelen)
			  var image = new Image();
			  image.height = 100;
			  image.title  = file.name;
			  image.src    = this.result;
			  node.appendChild(image);
			  node.append(document.createElement("br"));
			  node.append(document.createElement("br"));
			  preview.appendChild(node);
			});
			reader.readAsDataURL(file);
		}
	}
	var typingTimer;
	var doneTypingInterval = 1000;
	function getgeocode(){
			
			geocoder.geocode({
				'address': document.getElementById("hiddenaddress").value,
				'componentRestrictions': {
					'country': 'AU'
				}
			}, function(results, status) {
						if (status === 'OK') {
							if (results[0] && results[0].geometry &&
								results[0].geometry.bounds) {
								for (i = 0;i<markerlist.length;i++){
									markerlist[i].setMap(null);
									circlelist[i].setMap(null);
								}
								document.getElementById("hiddenlocation").value = results[0].geometry.location.lat()+", "+results[0].geometry.location.lng();
								var marker = new google.maps.Marker({position: results[0].geometry.location, map: map});
								map.setCenter(results[0].geometry.location)
								console.log(results[0].geometry.location)
								markerlist.push(marker)
							} else {
								console.log('No results found');
								//alert('No results found');
							}
						} else {
							console.log('Geocoder failed due to: ' + status);
							//alert('Geocoder failed due to: ' + status);
						}
					});
		}
		document.getElementById('hiddenaddress').addEventListener('keyup', () => {
			clearTimeout(typingTimer);
			if (document.getElementById('hiddenaddress').value) {
			typingTimer = setTimeout(getgeocode, doneTypingInterval);
			}
		});
	document.querySelector('#file-input').addEventListener("change", previewImage);
	$(document).ready(function () {
		$('.collapsible').collapsible();
	});
	</script>
	<!-- Actual link: -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwnoTrb4bDrnE2qSu7q1HiS0pWCsCJS7g&callback=initMap"async defer></script>
	<!-- Use a wrong link when map isn't needed: -->
	 <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4bDrnE2qSu7q1HiS0pWCsCJS7g&callback=initMap"></script> -->
	<script type =text/javascript src = "{{ url_for('static',filename = 'formstep.js')}}"></script>


{% endblock %}
