{% extends "base.html" %}
{% block head %}
	<title>Post Accommodation</title>
{% endblock %}

{% block content %}
	<link rel="stylesheet" href = "{{url_for('static',filename = 'formstep.css')}}">
	<h2> Please enter your details: </h2>
	<a href="{{url_for('signup_owner')}}">Signing up as a host? Click here!</a>
	<form method='POST'>
			<div class="container">
				<ul class="collapsible">
					<li class="active">
						<div class="collapsible-header"><i class="material-icons">person</i>About you</div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col s12">
									<label>
										All fields are required.
									</label>
								</div>
			
								<div class="input-field col s12">
									<input type="text" id="name_input" name="name_input" class="required" />
									<label for="name_input">Full Name</label>
			
								</div>
								<div class="input-field col s12">
									<input type="text" id="uname_input" name="uname_input" />
									<label for="uname_input">Username</label>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">info</i>Extra Information</div>
						<div class="collapsible-body">
							<div class="row">
								<div class="input-field col s12">
									<textarea id="desc_input" name="desc_input" class="materialize-textarea"></textarea>
									<label for="desc_input">Description (optional)</label>
								</div>
			
								<div class="input-field col s12 m12 l6">
									<input type="email" id="email_input" name="email_input" class="validate">
									<label for="email_input">Email</label>
									<span class="helper-text" data-error="Invalid email" data-success="Valid">
								</div>
								<div class="input-field col s12 m12 l6">
									<input type="tel" id="phone_input" name="phone_input">
									<label for="phone_input">Phone Number</label>
								</div>
								<div class="input-field col s12">
									<input type="password" id="password_input" name="password_input" class="validate"
										oninput="checkPassMatch()">
									<label for="password_input">Password</label>
								</div>
								<div class="input-field col s12">
									<input type="password" id="password_confirm_input" name="password_confirm_input"
										class="validate" oninput="checkPassMatch()">
									<label for="password_confirm_input">Confirm Password</label>
									<span class="helper-text" data-error="Passwords must match">
			
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="right-align">
					<button class="btn waves-effect waves-light light-blue" type="submit" name="action" id="sub_btn" disabled>Submit
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>

	</form>

	<script>
		function checkPassMatch() {
			var newpass = document.getElementById("password_input");
			var confirm = document.getElementById("password_confirm_input");
			var subBtn = document.getElementById("sub_btn");
			console.log(newpass.value == confirm.value)
			if (newpass.value && (newpass.value == confirm.value)) {
				confirm.setCustomValidity("");
				newpass.setCustomValidity("");
				subBtn.disabled = false;
			} else {
				confirm.setCustomValidity("invalid");
				newpass.setCustomValidity("invalid");
				subBtn.disabled = true;
			}
			M.updateTextFields();
		}

		$(document).ready(function () {
			$('.collapsible').collapsible();
		});
	</script>
	<script type =text/javascript src = "{{ url_for('static',filename = 'formstep.js')}}"></script>
{% endblock %}
