{% extends "base.html" %}
{% block head %}
	<title>Post Accommodation</title>
{% endblock %}

{% block content %}
	<link rel="stylesheet" href = "{{url_for('static',filename = 'formstep.css')}}">
	<h2> Please enter your details: </h2>
	<form name='post_ad' id = "regForm" method='POST'>
		<div class = "tab">Personal Details
			<p><input name = "account_name" placeholder = "Name" class = "required"></p>
			{% if username_taken %}
			<label style="color: red">Username is taken.</label>
			{% endif %}
			<p><input name = "account_username" placeholder = "Username" class = "required"></p>
			<p><input name = "account_password" placeholder = "Password" type = "password"
				oninput="checkPassMatch()"></p>
			<p><input name = "account_password_confirm" placeholder = "Confirm Password" type = "password"
				oninput="checkPassMatch()"></p>

			<label id="pass_match_label", style="color: red; float:left; display:none">Passwords must match.</label>
		</div>
		<div class = "tab">
				{%if invalid_email %}
				<label style="color: red">Invalid email address.</label>
				{% endif %}
				<p><input name = "account_email" placeholder = "Email" type = "email"></p>
				<p><input name = "account_phone" placeholder = "Mobile"></p>
				<p><input name = "account_description" placeholder = "Description" type = "paragraph">
		</div>
		<div style="overflow:auto;">
			<div style="float:right;">
				<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
				<button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
			</div>
		</div>
		<div style="text-align:center;margin-top:40px;">
			<span class="step"></span>
			<span class="step"></span>
		</div>
	</form>

	<script>
		function checkPassMatch() {
			var newpass = document.getElementsByName("account_password")[0];
			var confirm = document.getElementsByName("account_password_confirm")[0];
			if (newpass.value == confirm.value) {
				newpass.setAttribute('style', 'border:green 2px solid');
				confirm.setAttribute('style', 'border:green 2px solid');
				document.getElementById('nextBtn').disabled = false
				document.getElementById('pass_match_label').style.display = "none";
			} else {
				newpass.setAttribute('style', 'border:red 1px solid');
				confirm.setAttribute('style', 'border:red 1px solid');
				document.getElementById('nextBtn').disabled = true
				document.getElementById('pass_match_label').style.display = 'block';
			}
		}
	</script>
	<script type =text/javascript src = "{{ url_for('static',filename = 'formstep.js')}}"></script>
{% endblock %}
