{% extends "base.html" %}
{% block head %}
<title>
    Your Bookings
</title>
<!--Import Google Icon Font-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"
    media="screen,projection" />

<!-- <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
<!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css">
    .myimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .cards-container {
        column-break-inside: avoid;
    }

    .card {
        display: inline-block;
        overflow: visible;
    }
</style>
{% endblock %}

{% block content %}
<body>
    <!-- <div class="container"> -->
        {% if bookings %}
        <!-- Cards for each booking -->
        <div class="row">
            {% if bookings|length > 3 %}
            <div class="col s12 cards-container" style="column-count:3"> <!--Add style="column-count:2" to change width of cards-->
            {% endif %}
            {% for b in bookings %}
                {% if bookings|length <= 3 %}
                <div class="col s12 m6 l4 cards-container">
                {% endif %}
                {% set venue = ac.get_acc(b.venueid) %}
                {% set images = venue.get_images() %}
                <div class="card">
                    <div class="card-image">
                        <i href="/book/{{b.venueid}}">
                            {% if images|length > 0 %}
                            <img src="{{images[0]}}">
                            {% else %}
                            <img src="../static/nsw1.png">
                            {% endif %}
                        </i>
                    </div>
                    <div class="card-content">
                        <a class="card-title activator grey-text text-darken-4" 
                            href="{{url_for('book_main', id=b.venueid)}}">{{venue.name}}</a>
                        Start: {{b.start_date.strftime('%d %B, %Y')}} <br>
                        End: {{b.end_date.strftime('%d %B, %Y')}} <br>
                        {% set dt = (b.end_date - b.start_date).days %}
                        <label>{{dt|pluralise('night', 'nights')}}</label>
                        <br>
                        {% set t_until = (b.start_date - today).days %}
                        {% if t_until > 1 %}
                            <label>{{t_until|pluralise('day', 'days')}} away.</label>
                        {% elif t_until == 1 %}
                            <label class="good">Starts tomorrow</label> 
                        {% else %}
                            <!-- Add a review button -->
                            {% set allow_review = True %}
                            {% set t_after = (today - b.end_date).days %}
                            {% if t_after > 1 %}
                                <label>Ended {{t_after|pluralise('day', 'days')}} ago.</label>
                            {% elif t_after == 1 %}
                                <label>Ended yesterday.</label>
                            {% else %}
                                {% set allow_review = False %}
                                <label>Currently in progress.</label>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                    <div class="card-action">
                        <div class="row center-align">
                            <div class="col s12 l6">
                                <a class="btn" style="display: block" href="{{url_for('book_main', id=b.venueid)}}">Go to booking</a>
                            </div>
                            {% if allow_review %}
                            <div class="col s12 l6">
                                <a class="btn-flat" style="display: block" href="{{url_for('review', id=b.venueid)}}">review</a>
                            </div>
                            {% endif %}
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                {% if bookings|length <= 3 %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
        {% else %}
        <br>
        <p>When you make a booking, it will show up here.</p>
        {% endif %}
        <!--JavaScript at end of body for optimized loading-->
       
    <!-- </div> -->
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/init.js')}}"></script>
    
</html>
{% endblock %}
